<table class="table table-hover" ng-hide="showSimulados">
	<thead> 
		<tr> 
			<th>Simulados</th>
			<th></th>
			<th></th>
			<th></th>
		</tr> 
	</thead>
	<tbody>
		<tr ng-repeat="s in simulados">
			<td>{{s.nome}}</td>
			<td>{{s.date}}</td>
			<td>{{s._id}}</td>
			<td><button class="btn btn-info btn-sm" ng-click="iniciarSimulado(s._id)">Iniciar Quiz</button></td>
		</tr> 
	</tbody> 
</table>
<div class="row animate" ng-hide="hideQuiz">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{numPergunta+1}}) {{perguntaAtual.enunciado}}</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
						<form>
							<ol type="A">
								<div class="radio">
									<li>
										<label>
											<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="A">
											{{perguntaAtual.alternativaA}}
										</label>
									</li>
								</div>
								<div class="radio">
									<li>
										<label>
											<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="B">{{perguntaAtual.alternativaB}}
										</label>
									</li>
								</div>
								<div class="radio">
									<li>
										<label>
											<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="C">{{perguntaAtual.alternativaC}}
										</label>
									</li>
								</div>
								<div class="radio">
									<li>
										<label>
											<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="D">{{perguntaAtual.alternativaD}}
										</label>
									</li>
								</div>
								<div class="radio">
									<li>
										<label>
											<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="E">{{perguntaAtual.alternativaE}}
										</label>
									</li>
								</div>
							</ol>
						</form>
					</div>
					<div ng-if="perguntaAtual.foto" class="col-md-2">
						<div class="thumbnail">
							<img class="image-responsive" ng-src="/imagens/{{perguntaAtual.foto}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<a class="btn btn-default" ng-click="listarQuiz(-1)">
									<span class="glyphicon glyphicon-chevron-left"></span>
									Anterior
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<a ng-class="numPergunta == 39 ? 'btn btn-success' : 'btn btn-default'" ng-click="listarQuiz(1)">{{opcao}}
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="showResultado">
	<div class="col-md-12 col-xs-12">
		<div class="panel" ng-class="pontuacao < 7.00 ? 'panel-danger' : 'panel-success'">
			<div class="panel-heading">
				<h3 class="panel-title bold">{{msg}}</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="panel panel-red">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-3">
										<i class="fa fa-times-circle fa-5x" aria-hidden="true"></i>
									</div>
									<div class="col-md-9 text-right">
										<div class="col-md-12">
											<div class="panel-h">{{erros}}</div>
											<div class="panel-t">Erros!</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-green">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-3">
										<i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
									</div>
									<div class="col-md-9 text-right">
										<div class="col-md-12">
											<div class="panel-h">{{certo}}</div>
											<div class="panel-t">Acertos!</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-orange">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-3">
										<i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
									</div>
									<div class="col-md-9 text-right">
										<div class="col-md-12">
											<div class="panel-h">{{nulo}}</div>
											<div class="panel-t">Em branco!</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div ng-class="pontuacao < 7.00 ? 'panel panel-red' : 'panel panel-blue'">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-3">
										<i ng-class="pontuacao < 7.00 ? 'fa-thumbs-down' : 'fa-thumbs-up'" class="fa fa-5x" aria-hidden="true"></i>
									</div>
									<div class="col-md-9 text-right">
										<div class="col-md-12">
											<div class="panel-h">{{pontuacao}}</div>
											<div class="panel-t">Pontos!</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="aparecer">
					<div class="row" ng-repeat="r in resultados">
						<div class="col-md-12">
							<h4 class="page-header"><strong>{{$index+1}})</strong> {{r.enunciado}}</h4>
						</div>
						<div class="col-md-12">
							<div ng-class="r.result == 1 ? 'alert alert-success' : r.result == 2 ? 'alert alert-danger' : 'alert alert-warning'">
								<i ng-class="r.result == 1 ? 'fa fa-check-square-o' : r.result == 2 ? 'fa fa-window-close-o' : 'fa fa-exclamation-triangle'" aria-hidden="true"></i> <strong>{{r.texto}}</strong>
							</div>
						</div>
						<div class="col-md-11">
							<ol type="A">
								<li ng-class="r.alternativaCorreta=='A' ? 'text text-success bold' : r.result==2 && r.resposta=='A' ? 'text text-danger bold' : 'text'">
									{{r.alternativaA}}
								</li>
								<li ng-class="r.alternativaCorreta=='B' ? 'text text-success bold' : r.result==2 && r.resposta=='B' ? 'text text-danger bold' : 'text'">
									{{r.alternativaB}}
								</li>
								<li ng-class="r.alternativaCorreta=='C' ? 'text text-success bold' : r.result==2 && r.resposta=='C' ? 'text text-danger bold' : 'text'">
									{{r.alternativaC}}
								</li>
								<li ng-class="r.alternativaCorreta=='D' ? 'text text-success bold' : r.result==2 && r.resposta=='D' ? 'text text-danger bold' : 'text'">
									{{r.alternativaD}}
								</li>
								<li ng-class="r.alternativaCorreta=='E' ? 'text text-success bold' : r.result==2 && r.resposta=='E' ? 'text text-danger bold' : 'text'">
									{{r.alternativaE}}
								</li>
							</ol>
						</div>
						<div class="col-md-1" style="margin-top: 20px">
							<div ng-if="r.foto" class="thumbnail">
								<img class="image-responsive" ng-src="/imagens/{{r.foto}}">
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button class="btn btn-primary btn-block bold" ng-click="concluir(aluno_id)">Concluir!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>