.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.panel-red {
    background-color: #d9534f;
    color: #fff;
}
.panel-green {
    background-color: #5cb85c;
    color: #fff;
}
.panel-orange {
    background-color: #f0ad4e;
    color: #fff;
}
.panel-blue {
    background-color: #5bc0de;
    color: #fff;
}
.panel-h {
    font-size: 40px;
    font-weight: bold;
}
.panel-t {
    font-size: 14px;
    font-weight: bold;
}
.text {
    font-size: 14px;
}
.bold {
    font-weight: bold;
    font-size: 17px;
}
.visivel {
    height: 300px;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
}
.btn-yellow {
    background-color: #ffdf00;
    color: rgb(103, 87, 87);
}