<% include .././header %>

<div class="container">
	<div class="row" style="margin-top:50px">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default" style="margin-top : 100px">
				<div class="panel-heading">
					<h4>Login para continuar</h4>
				</div>
				<div class="panel-body">
					<% if(messages.info) { %>
					<div class="alert alert-danger"><%=messages.info%></div>
					<%}%>
					<form method="POST" action="/login">
						<label>Login</label>
						<div class="form-group">
							<input class="form-control" name="login" type="text">
						</div>
						<label>Senha</label>
						<div class="form-group">
							<input class="form-control" name="senha" type="password">
						</div>
						<br>
						<button type="submit"  class="btn btn-success btn-block">
							<i class="fa fa-sign-in"></i> 
							Entrar
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>