		<div class ="row" ng-controller="autoCtrl">
			<div class ="col-md-6" ng-init="find(_id)">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Cadastro de Auto-Escola</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
							<fieldset>
								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="nomeInput">Nome</label>  
									<div class="col-md-6">
										<input ng-model="autoEscola.nome" id="nomeInput" name="nomeInput" type="text" placeholder="Ex: Guadalupe " class="form-control input-md" required>
									</div>
								</div>

								<!-- login -->
								<div class="form-group">
									<label class="col-md-3 control-label" for="loginInput">Login</label>
									<div class="col-md-6">
										<input ng-model="user.login" id="loginInput" name="loginInput" type="text" placeholder="" class="form-control input-md">
									</div>
								</div>

								<!-- Password input-->
								<div ng-if="opcao == 'Salvar'" class="form-group">
									<label class="col-md-3 control-label" for="senhaInput">Senha</label>
									<div class="col-md-6">
										<input ng-model="user.password" id="senhaInput" name="senhaInput" type="password" placeholder="*********" class="form-control input-md">
									</div>
								</div>

								<!--CNPJ-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="cnpjInput">CNPJ</label>
									<div class="col-md-6">
										<input ng-model="autoEscola.cnpj" id="cnpjInput" type="text" name="cnpjInput" placeholder="12.012.123/0001-03"
										class="form-control input-md">
									</div>
								</div>

								<!--endereço-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="enderecoInput">Endereço</label>
									<div class="col-md-6">
										<input ng-model="autoEscola.endereco" id="enderecoInput" name="enderecoInput" type="text" placeholder="Av. Catelo Branco" class="form-control input-md">
									</div> 
								</div>

								<!--Telefone input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="senhaInput">Telefone</label>
									<div class="col-md-6">
										<input ng-model="autoEscola.telefone" id="telefoneInput" name="telefoneInput" type="text" placeholder="(xx) 9 8899-7788" class="form-control input-md">
									</div>
								</div>

								<!-- Button (Double) -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="salvarbtn"></label>
									<div class="col-md-8">
										<button ng-click="salvar(user, autoEscola)" id="salvarbtn" name="salvarbtn" class="btn btn-success">{{opcao}}</button>
										<button ng-if="opcao == 'Editar'" ng-click="cancel()" id="cancelarbtn" name="cancelarbtn" class="btn btn-danger">Cancelar</button>
									</div>
								</div>

							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Lista de Auto-Escola</h3>
					</div>
					<div class="panel-body">
						<table class="table table-hover" ng-init="listarAutoEscolas()">
							<thead> 
								<tr> 
									<th>Auto Escola</th>
									<th></th>
								</tr> 
							</thead>
							<tbody>
								<tr ng-repeat="a in autoEscolas">
									<td>{{a.nome}}</td>
									<td>
										<a class="btn btn-danger btn-sm" ng-click="delete(a._id)">Deletar</a>
										<a class="btn btn-info btn-sm" ng-click="edit(a._id)">Editar</a>
									</td>
								</tr> 
							</tbody> 
						</table>
					</div>
				</div>
			</div>
		</div>