		<div class ="row" ng-controller="professorCtrl" ng-init="verificarUser(_id)">
			<div class ="col-md-6" ng-init="find(_id)">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Cadastro de professor</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
							<fieldset>
								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="nomeInput">Nome</label>  
									<div class="col-md-6">
										<input id="nomeInput" name="nomeInput" type="text" placeholder="Ex: José da Silva" class="form-control input-md" ng-model="professor.nome">
									</div>
								</div>

								<!-- login -->
								<div class="form-group">
									<label class="col-md-3 control-label" for="loginInput">Login</label>
									<div class="col-md-6">
										<input id="loginInput" name="loginInput" type="text" placeholder="" class="form-control input-md" ng-model="user.login">
									</div>
								</div>

								<!-- Password input-->
								<div ng-if="opcao == 'Salvar'" class="form-group">
									<label class="col-md-3 control-label" for="senhaInput">Senha</label>
									<div class="col-md-6">
										<input id="senhaInput" name="senhaInput" type="password" placeholder="*********" class="form-control input-md" ng-model="user.password">

									</div>
								</div>

								<!--Telefone input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="senhaInput">Telefone</label>
									<div class="col-md-6">
										<input id="telefoneInput" name="telefoneInput" type="text" placeholder="(xx) 9 8899-7788" class="form-control input-md" ng-model="professor.telefone">
									</div>
								</div>

								<!--cpf-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="cpfInput">CPF</label>
									<div class="col-md-6">
										<input id="cpfInput" name="cpfInput" type="text" placeholder = "123.456.789-10" class="form-control input-md" ng-model="professor.cpf">
									</div>
								</div>

								<!--endereço-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="enderecoInput">Endereço</label>
									<div class="col-md-6">
										<input id="enderecoInput" name="enderecoInput" type="text" placeholder="Av. Catelo Branco" class="form-control input-md" ng-model="professor.endereco">
									</div> 
								</div>

								<!--email-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="emailInput">E-mail</label>
									<div class="col-md-6">
										<input id="emailInput" type="text" name="emailInput" placeholder="joao@gmail.com" class="form-control input-md" ng-model="professor.email">
									</div>
								</div>
								<div ng-show="selAuto" class="form-group">
									<label class="col-md-3 control-label" for="emailInput">Auto-Escola</label>
									<div class="col-md-6">
										<select class="form-control input-md" ng-model="professor.autoEscola" ng-options="autoEscola._id as autoEscola.nome for autoEscola in autoEscolas">
											<option value="">Selecionar a Auto-Escola</option>
										</select>
									</div>
								</div>
								<!-- Button (Double) -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="salvarbtn"></label>
									<div class="col-md-8">
										<button id="salvarbtn" name="salvarbtn" class="btn btn-success" ng-click="salvar(user, professor)">{{opcao}}</button>
										<button ng-if="opcao == 'Editar'" ng-click="cancel()" id="cancelarbtn" name="cancelarbtn" class="btn btn-danger">Cancelar</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Lista de Professores</h3>
					</div>
					<div class="panel-body">
						<table class="table table-hover"> 
							<thead> 
								<tr> 
									<th>Professores</th>
									<th></th>
									<th></th>
								</tr> 
							</thead>
							<tbody>
								<tr ng-repeat="p in professores">	
									<td>{{p.nome}}</td>
									<td><a class="btn btn-danger btn-sm" ng-click="delete(p._id)">Deletar</a></td>
									<td><a class="btn btn-info btn-sm" ng-click="edit(p._id)">Editar</a></td>
								</tr> 
							</tbody> 
						</table>
					</div>
				</div>
			</div>
		</div>