		<div class="row" ng-controller="painelCtrl">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Cadastro de questões</h3>
					</div>
					<div class="panel-body">

						<form method="POST" ng-submit="upload(questao)" enctype='multipart/form-data'>
							<label>Categoria: </label>
							<div class="row">
								<div class="form-group col-md-12">
									<select class="form-control" ng-model="questao.categoria" ng-options="categoria for categoria in categoria">
										<option value="">Escolha uma categoria</option>
									</select>
								</div>
							</div>
							<label>Enunciado: </label>
							<div class="form-group">
								<textarea name="enunciado" ng-model="questao.enunciado" rows="5" class="form-control"></textarea>
							</div>
							<label>Alternativa A:</label>
							<div class="row">
								<div class="form-group col-md-10">
									<input type="text" name="A" ng-model="questao.alternativaA" class="form-control">
								</div>
								<div class="radio col-md-2">
									<label>
										<input type="radio" name="correta" ng-model="questao.alternativaCorreta" ng-model="B" value="A">Correta
									</label>
								</div>
							</div>
							<label>Alternativa B:</label>
							<div class="row">
								<div class="form-group col-md-10">
									<input type="text" name="B" ng-model="questao.alternativaB" class="form-control">
								</div>
								<div class="radio col-md-2">
									<label>
										<input type="radio" name="correta" ng-model="questao.alternativaCorreta" value="B">Correta
									</label>
								</div>
							</div>
							<label>Alternativa C:</label>
							<div class="row">
								<div class="form-group col-md-10">
									<input type="text" name="C" ng-model="questao.alternativaC" class="form-control">
								</div>
								<div class="radio col-md-2">
									<label>
										<input type="radio" name="correta" ng-model="questao.alternativaCorreta" value="C">Correta
									</label>
								</div>
							</div>
							<label>Alternativa D:</label>
							<div class="row">
								<div class="form-group col-md-10">
									<input type="text" name="D" ng-model="questao.alternativaD" class="form-control">
								</div>
								<div class="radio col-md-2">
									<label>
										<input type="radio" name="correta" ng-model="questao.alternativaCorreta" value="D">Correta
									</label>
								</div>
							</div>
							<label>Alternativa E:</label>
							<div class="row">
								<div class="form-group col-md-10">
									<input type="text" name="E" ng-model="questao.alternativaE" class="form-control">
								</div>
								<div class="radio col-md-2">
									<label>
										<input type="radio" name="correta" ng-model="questao.alternativaCorreta" value="E">Correta
									</label>
								</div>
							</div>
							<br>
							<div class="">
								<div class="form-group">
									<label class="btn btn-success btn-file">
										<i class="fa fa-picture-o" aria-hidden="true"></i>  Adicionar imagem
										<input type="file" style="display: none;" id="fileUpload" name="foto" file-model="questao.foto" class="input-file" accept="image/">
									</label>
								</div>
							</div>
							<div class="row" ng-show="show">
								<div class="col-md-6">
									<div id="image-holder"></div>
								</div>
							</div>
							<br>
							<a class="btn btn-danger" style="display: {{display}}" ng-click="cancel()">Cancelar</a>
							<button type="submit" class="btn btn-primary">{{opcao}}</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Lista de questões</h3>
					</div>
					<div class="panel-body">
						<label>Busca</label>
						<input type="text" ng-model="busca.enunciado" class="form-control">
						<table class="table table-hover" ng-init="listarQuestoes()"> 
							<thead> 
								<tr> 
									<th>Questão</th>
									<th></th>
									<th></th>
								</tr> 
							</thead>
							<tbody>
								<tr ng-repeat="q in questoes | filter: busca">
									<td>{{q.enunciado}}</td>
									<td><a class="btn btn-danger btn-sm" ng-click="delete(q._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Deletar</a></td>
									<td><a class="btn btn-info btn-sm" ng-click="edit(q._id)"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></td>
								</tr> 
							</tbody> 
						</table>
					</div>
				</div>
			</div>
		</div>