<div class="row animate" ng-hide="hideQuiz">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{numPergunta+1}}) {{perguntaAtual.enunciado}}</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-10">
							<form>
								<ol type="A">
									<div class="radio">
										<li>
											<label>
												<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="A">
												{{perguntaAtual.alternativaA}}
											</label>
										</li>
									</div>
									<div class="radio">
										<li>
											<label>
												<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="B">{{perguntaAtual.alternativaB}}
											</label>
										</li>
									</div>
									<div class="radio">
										<li>
											<label>
												<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="C">{{perguntaAtual.alternativaC}}
											</label>
										</li>
									</div>
									<div class="radio">
										<li>
											<label>
												<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="D">{{perguntaAtual.alternativaD}}
											</label>
										</li>
									</div>
									<div class="radio">
										<li>
											<label>
												<input type="radio" ng-model="perguntaAtual.resposta" name="resposta" value="E">{{perguntaAtual.alternativaE}}
											</label>
										</li>
									</div>
								</ol>
							</form>
						</div>
						<div ng-if="perguntaAtual.foto" class="col-md-2">
							<div class="thumbnail">
								<img class="image-responsive" ng-src="/imagens/{{perguntaAtual.foto}}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								<div class="btn-group" role="group">
									<a class="btn btn-default" ng-click="listarQuiz(-1)">
										<span class="glyphicon glyphicon-chevron-left"></span>
										Anterior
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-4">
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								<div class="btn-group" role="group">
									<a ng-class="numPergunta == 39 ? 'btn btn-success' : 'btn btn-default'" ng-click="listarQuiz(1)">{{opcao}}
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>