<div ng-controller="geradorCtrl" ng-init="verificarUser(_id)">
	<div class="row" ng-init="find(_id)">
		<div class="col-md-12">
			<form>
				<h3 class="page-header">Gerar Quiz:</h3>
				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						<label>Escolha as categorias: </label>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="Categoria0" value="1" ng-model="escolha[0]" ng-disabled="disabled">
								Legislação
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="Categoria1" value="2" ng-model="escolha[1]" ng-disabled="disabled">
								Sinalização/Placas
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="Categoria2" value="3" ng-model="escolha[2]" ng-disabled="disabled">
								Direção Defentiva
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="Categoria3" value="4" ng-model="escolha[3]" ng-disabled="disabled">
								Primeiros Socorros
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="Categoria4" value="5" ng-model="escolha[4]" ng-disabled="disabled">
								Meio Ambiente e Cidadania
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="Categoria5" value="6" ng-model="escolha[5]" ng-disabled="disabled">
								Noções de mecânica básica
							</label>
						</div>
					</div>
					<div class="col-md-4">
						<div ng-show="selAuto" class="form-group">
							<label>Auto-Escola: </label>
							<select class="form-control input-md" ng-model="simulado.autoEscola" ng-options="autoEscola._id as autoEscola.nome for autoEscola in autoEscolas">
								<option value="">Selecionar a Auto-Escola</option>
							</select>
						</div>
						<div class="form-group">
							<label>Turma: </label>
							<select class="form-control" ng-model="simulado.turma" ng-options="turma._id as turma.nome group by turma.autoEscola.nome disable when simulado.autoEscola != turma.autoEscola._id for turma in turmas">
								<option value="">Selecionar a turma</option>
							</select>
						</div>
						<div ng-show="selProf" class="form-group">
							<label>Professor: </label>
							<select class="form-control" ng-model="simulado.professor" ng-options="professor._id as professor.nome group by professor.autoEscola.nome disable when simulado.autoEscola != professor.autoEscola._id for professor in professores">
								<option value="">Selecionar o professor</option>
							</select>
						</div>
						<div class="form-group">
							<label>Nome do quiz: </label>
							<input type="text" class="form-control" ng-model="simulado.nome">
						</div>
						<button class="btn btn-primary btn-block" ng-click="escolher()">{{opcao}}</button>
						<button ng-if="opcao == 'Gerar novamente!'" class="btn btn-yellow btn-block" ng-click="salvar(simulado)">Salvar Simulado</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<h3 class="page-header">Simulados:</h3>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<thead> 
					<tr> 
						<th>Simulados</th>
						<th></th>
						<th></th>
						<th></th>
					</tr> 
				</thead>
				<tbody>
					<tr ng-repeat="s in simulados">
						<td>{{s.nome}}</td>
						<td>{{s.date}}</td>
						<td>{{s._id}}</td>
						<td><button class="btn btn-danger btn-sm" ng-click="delete(s._id)">Delete Quiz</button></td>
					</tr> 
				</tbody> 
			</table>
		</div>
	</div>
	<div class="row" ng-show="lista">
		<div class="panel panel-default">
			<div class="panel-heading">
				Perguntas geradas:
			</div>
			<div class="panel-body">
				<div class="row" ng-repeat="p in perguntas">
					<div class="col-md-12">
						<h4 class="page-header"><strong>{{$index+1}})</strong> {{p.enunciado}}</h4>
					</div>
					<div class="col-md-12">
						<div class="alert alert-info">
							<i class="fa fa-info-circle" aria-hidden="true"></i> Alternativa correta: <strong>{{p.alternativaCorreta}}</strong>
						</div>
					</div>
					<div class="col-md-11">
						<ol type="A">
							<li ng-class="p.alternativaCorreta=='A' ? 'text text-success bold' : 'text'">
								{{p.alternativaA}}
							</li>
							<li ng-class="p.alternativaCorreta=='B' ? 'text text-success bold' : 'text'">
								{{p.alternativaB}}
							</li>
							<li ng-class="p.alternativaCorreta=='C' ? 'text text-success bold' : 'text'">
								{{p.alternativaC}}
							</li>
							<li ng-class="p.alternativaCorreta=='D' ? 'text text-success bold' : 'text'">
								{{p.alternativaD}}
							</li>
							<li ng-class="p.alternativaCorreta=='E' ? 'text text-success bold' : 'text'">
								{{p.alternativaE}}
							</li>
						</ol>
					</div>
					<div class="col-md-1" style="margin-top: 20px">
						<div ng-if="p.foto" class="thumbnail">
							<img class="image-responsive" ng-src="/imagens/{{p.foto}}">
						</div>
					</div>
				</div>
				<button ng-if="opcao == 'Gerar novamente!'" class="btn btn-yellow btn-block" ng-click="salvar(simulado, professorU)">Salvar Simulado</button>
			</div>
		</div>
	</div>
</div>