<div ng-controller="turmaCtrl" ng-init="verificarUser(_id)">
	<div class="row" ng-init="find(_id)">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Cadastrar turmas
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label>Nome da turma:</label>
							<input type="text" ng-model="turma.nome" class="form-control">
						</div>
						<div class="form-group">
							<label>Data de início:</label>
							<input type="text" ng-model="turma.dataDeInicio" class="form-control">
						</div>
						<div class="form-group">
							<label>Data de término:</label>
							<input type="text" ng-model="turma.dataDeFim" class="form-control">
						</div>
						<div ng-show="selAuto" class="form-group">
							<label>Auto-Escola:</label>
							<select class="form-control input-md" ng-model="turma.autoEscola" ng-options="autoEscola._id as autoEscola.nome for autoEscola in autoEscolas">
								<option value="">Selecionar a Auto-Escola</option>
							</select>
						</div>
						<div class="form-group">
							<label>Professor:</label>
							<select ng-model="turma.professor" ng-options="professor._id as professor.nome group by professor.autoEscola.nome disable when turma.autoEscola != professor.autoEscola._id for professor in professores" class="form-control">
								<option value="">Selecionar o Professor</option>
							</select>
						</div>
						<div class="form-group">
							<button class="btn btn-primary" ng-click="salvar(turma)">{{opcao}}</button>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Lista de turmas
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead> 
							<tr> 
								<th>Turmas</th>
								<th>Inicio</th>
								<th>Fim</th>
							</tr> 
						</thead>
						<tbody>
							<tr ng-repeat="t in turmas">
								<td>{{t.nome}}</td>
								<td>{{t.dataDeInicio}}</td>
								<td>{{t.dataDeFim}}</td>
								<td>
									<button class="btn btn-danger btn-sm" ng-click="delete(t._id)">Deletar</button>
									<button class="btn btn-info btn-sm" ng-click="edit(t._id)">Editar</button>
								</td>
							</tr> 
						</tbody> 
					</table>
				</div>
			</div>
		</div>
	</div>
</div>