<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<% include .././header %>
<body ng-controller="templateCtrl">
	<div class="container">
		<% include .././nav %>
	</div>
	<% include .././footer %>
</body>
</html>