	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
<<<<<<< HEAD
	<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
</body>
</html>
=======
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/ctrl/templatecontroller.js"></script>
	<% if (user.tipo == 0) { %>
	<script src="js/ctrl/autoescolacontroller.js"></script>
  <script src="js/ctrl/painelcontroller.js"></script>
  <% } %>
  <% if ((user.tipo == 0) || (user.tipo == 1)) { %>
  <script src="js/ctrl/professorcontroller.js"></script>
  <script src="js/ctrl/alunocontroller.js"></script>
  <% } %>
  <% if ((user.tipo == 0) || (user.tipo == 1) || (user.tipo == 2)) { %>
  <script src="js/ctrl/turmacontroller.js"></script>
  <script src="js/ctrl/geradorSimulado.js"></script>
  <script>
  $(document).ready(function() {
    $("#fileUpload").on('change', function() {
     $("#image-holder").addClass('thumbnail');
          //Get count of selected files
          var countFiles = $(this)[0].files.length;
          var imgPath = $(this)[0].value;
          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
          var image_holder = $("#image-holder");
          image_holder.empty();
          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
          	if (typeof(FileReader) != "undefined") {
              //loop for each file selected for uploaded.
              for (var i = 0; i < countFiles; i++) 
              {
              	var reader = new FileReader();
              	reader.onload = function(e) {
              		$("<img />", {
              			"src": e.target.result,
              			"class": "img-responsive",
              			"alt": "100%x180"
              		}).appendTo(image_holder);
              	}
              	image_holder.show();
              	reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
             alert("This browser does not support FileReader.");
           }
         } else {
           alert("Pls select only images");
         }
       });
});
	</script>
	<% } %>
	<% if (user.tipo == 3) {%>
	<script src="js/ctrl/quizcontroller.js"></script>
	<% } %>
>>>>>>> 804193de421ea3a465be15631088bbd1318dfbe8
