<div ng-init="find('<%=user._id%>')">
	<% if(user.tipo != 3) { %>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/home" class="navbar-brand">Brand</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
				<ul class="nav navbar-nav">
					<li ng-class="acao == 'cad' ? 'active' : ''">
						<a href="" ng-click="acao='cad'"> Novo Cadastro</a>
					</li>
				</ul>
				<a type="button" href="/logout" class="navbar-brand" style="margin-left:1070px ">Sair</a>
			</div>
			
		</div>
	</nav>
	<div class="row" style="margin-top:80px;">
		<div class="col-md-12">
			<div class="row">
				<ul ng-if="acao == 'cad'" class="nav nav-tabs nav-justified">
					<% if (user.tipo == 0) { %>
					<li role="presentation" ng-class="template.local == '/partials/autoEscola.html' ? 'active' : ''">
						<a href="" ng-click="template.local='/partials/autoEscola.html'">Autoescola</a>
					</li>
					<% } %>
					<% if ((user.tipo == 0) || (user.tipo == 1)) { %>
					<li role="presentation" ng-class="template.local == '/partials/turma.html' ? 'active' : ''">
						<a href="" ng-click="template.local='/partials/turma.html'">Turma</a>
					</li>
					<li role="presentation" ng-class="template.local == '/partials/professor.html' ? 'active' : ''">
						<a href="" ng-click="template.local='/partials/professor.html'">Professor</a>
					</li>
					<li role="presentation" ng-class="template.local == '/partials/aluno.html' ? 'active' : ''">
						<a href="" ng-click="template.local='/partials/aluno.html'">Aluno</a>
					</li>
					<% } %>
					<% if ((user.tipo == 0) || (user.tipo == 1) || (user.tipo == 2)) { %>
					<li role="presentation" ng-class="template.local == '/partials/simulado.html' ? 'active' : ''">
						<a href="" ng-click="template.local='/partials/simulado.html'">Simulado</a>
					</li>
					<% } %>
				</ul>
				<br>
			</div>
			<div class="row" ng-include="template.local"></div>
		</div>
	</div>
	<% } else { %>
	<h1 class="page-header" ng-init="template.local='/partials/tables/simuTable.html'">
		Simulados
	</h1>
	<div class="row">
		<div class="col-md-12" ng-controller="quizCtrl" ng-include="template.local"></div>
	</div>
	<% } %>
</div>
